.menuverse-wrapper {
    display: inline-flex;
}

.menuverse {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    background: #ffffff;
}

.menuverse .menuverse-item {
    position: relative;
    padding: 10px;
}

.menuverse-link {
    text-decoration: none;
    display: block;
    padding: 12px 5px;
    color: #111;
    font-weight: 600;
}

.menuverse-title {
    display: block;
    font-size: 14px;
}

.menuverse-subtitle {
    display: block;
    font-size: 11px;
    color: #666;
}

/* Submenus */
.menuverse-submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    opacity: 0;
    visibility: hidden;

    transform: translateY(10px);
    transition: all 0.25s ease;
    z-index: 50;
    padding: 14px;
}

.menuverse-item:hover > .menuverse-submenu,
.menuverse-submenu li:hover > .menuverse-submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Nested submenu positioning */
.menuverse-submenu .menuverse-submenu {
    left: 100%;
    top: 0;
}

#header .omniverse-menu:hover > a,  #header .omniverse-menu .menuverse-submenu .menuverse-item:hover > a{
    color: #00536b;
    text-decoration: underline;
}

#header .infofield-menu:hover > a,  #header .infofield-menu .menuverse-submenu .menuverse-item:hover > a{
    color: #F16736;
    text-decoration: underline;
}